In [4]:
import pandas as pd
import numpy as np

from mpl_toolkits import mplot3d
import numpy as np
import matplotlib.pyplot as plt

In [5]:
DATA_PATH = '../../data/CSVs/raw_data.csv'
df = pd.read_csv(DATA_PATH)
df['timestamp'] = pd.to_datetime(df['DATE'])
df = df.sort_values(by=["timestamp"]) 
df = df[1:]
df[:30]

,logID,DATE,LOCAL,NAME,DESC,VAL,QF,SOURCE,timestamp
2632,11173,3/24/22 14:39,N,CPU_USE,NaN,59.16030,0x00001000,PLC,2022-03-24 14:39:00
2633,11176,3/24/22 14:39,N,FAIL_CONF,NaN,0.00000,0x00001000,PLC,2022-03-24 14:39:00
2634,11177,3/24/22 14:39,N,FAIL_RTU,NaN,0.00000,0x00001000,PLC,2022-03-24 14:39:00
2638,11175,3/24/22 14:39,N,TEMP,NaN,31.75000,0x00001000,PLC,2022-03-24 14:39:00
2636,11172,3/24/22 14:39,N,PS1_V,NaN,5.38353,0x00001000,PLC,2022-03-24 14:39:00
2637,11178,3/24/22 14:39,N,RTU_HEALTH,NaN,3.00000,0x00001000,PLC,2022-03-24 14:39:00
2635,11174,3/24/22 14:39,N,MEM_USE,NaN,34.79740,0x00001000,PLC,2022-03-24 14:39:00
2631,11182,3/24/22 14:59,N,TEMP,NaN,31.81100,0x00001000,PLC,2022-03-24 14:59:00
2630,11185,3/24/22 14:59,N,RTU_HEALTH,NaN,1.00000,0x00001000,PLC,2022-03-24 14:59:00
2629,11179,3/24/22 14:59,N,PS1_V,NaN,5.38253,0x00001000,PLC,2022-03-24 14:59:00
2628,11181,3/24/22 14:59,N,MEM_USE,NaN,34.79950,0x00001000,PLC,2022-03-24 14:59:00
2627,11184,3/24/22 14:59,N,FAIL_RTU,NaN,0.00000,0x00001000,PLC,2022-03-24 14:59:00
2626,11183,3/24/22 14:59,N,FAIL_CONF,NaN,0.00000,0x00001000,PLC,2022-03-24 14:59:00
2625,11180,3/24/22 14:59,N,CPU_USE,NaN,59.92120,0x00001000,PLC,2022-03-24 14:59:00
2611,11187,3/24/22 15:19,N,CPU_USE,NaN,60.23170,0x00001000,PLC,2022-03-24 15:19:00
2612,11194,3/24/22 15:19,N,CPU_USE,NaN,60.23270,0x00001000,PLC,2022-03-24 15:19:00
2613,11190,3/24/22 15:19,N,FAIL_CONF,NaN,0.00000,0x00001000,PLC,2022-03-24 15:19:00
2614,11197,3/24/22 15:19,N,FAIL_CONF,NaN,0.00000,0x00001000,PLC,2022-03-24 15:19:00
2615,11191,3/24/22 15:19,N,FAIL_RTU,NaN,0.00000,0x00001000,PLC,2022-03-24 15:19:00
2616,11198,3/24/22 15:19,N,FAIL_RTU,NaN,0.00000,0x00001000,PLC,2022-03-24 15:19:00
2617,11188,3/24/22 15:19,N,MEM_USE,NaN,34.77630,0x00001000,PLC,2022-03-24 15:19:00
2618,11195,3/24/22 15:19,N,MEM_USE,NaN,34.77730,0x00001000,PLC,2022-03-24 15:19:00
2619,11186,3/24/22 15:19,N,PS1_V,NaN,5.38353,0x00001000,PLC,2022-03-24 15:19:00
2620,11193,3/24/22 15:19,N,PS1_V,NaN,5.38453,0x00001000,PLC,2022-03-24 15:19:00
2621,11192,3/24/22 15:19,N,RTU_HEALTH,NaN,2.00000,0x00001000,PLC,2022-03-24 15:19:00
2622,11199,3/24/22 15:19,N,RTU_HEALTH,NaN,3.00000,0x00001000,PLC,2022-03-24 15:19:00
2623,11189,3/24/22 15:19,N,TEMP,NaN,31.87500,0x00001000,PLC,2022-03-24 15:19:00
2624,11196,3/24/22 15:19,N,TEMP,NaN,31.87600,0x00001000,PLC,2022-03-24 15:19:00
2610,11203,3/24/22 15:39,N,TEMP,NaN,31.87500,0x00001000,PLC,2022-03-24 15:39:00
2609,11206,3/24/22 15:39,N,RTU_HEALTH,NaN,3.00000,0x00001000,PLC,2022-03-24 15:39:00

In [ ]:
CPUs, MEMs, TEMPs, timestamps = [], [], [], []
current_timestamp = None
cpu, mem, temp = None, None, None
for index, row in df.iterrows():
    
    if row["timestamp"] != current_timestamp and cpu != None and mem != None and temp != None: 
#         print((cpu, mem, temp))
        CPUs.append(cpu)
        MEMs.append(mem)
        TEMPs.append(temp)
        timestamps.append(current_timestamp)
    
    if row["NAME"] == "CPU_USE":
        cpu = row["VAL"]
        
    if row["NAME"] == "MEM_USE":
        mem = row["VAL"]
        
    if row["NAME"] == "TEMP":
        temp = row["VAL"]
        
    current_timestamp = row["timestamp"]

In [ ]:
print("len(CPUs):", len(CPUs))
print("len(MEM_USEs):", len(MEMs))
print("len(TEMPs):", len(TEMPs))
print("len(timestamps):", len(timestamps))

In [ ]:
df_dict = {"CPUs": CPUs, "MEMs": MEMs, "TEMPs": TEMPs, "timestamps": timestamps}
df_reshaped = pd.DataFrame.from_dict(df_dict)
df_reshaped.head()
df_reshaped.to_pickle("./last_data.pkl")

In [ ]:
df_reshaped.shape

In [ ]:
fig = plt.figure()
fig.set_size_inches(18.5, 10.5)
ax = plt.axes(projection='3d')


ax.set_xlabel('CPUs', fontsize=20, rotation = -20)
ax.set_ylabel('MEMs', fontsize=20, rotation = 50)
ax.set_zlabel('TEMPs', fontsize=20, rotation = 0)

# Data for three-dimensional scattered points
ax.scatter3D(df_reshaped["CPUs"], df_reshaped["MEMs"], df_reshaped["TEMPs"], c=df_reshaped["CPUs"], cmap='Greens');

In [ ]:
fig = plt.figure()
fig.set_size_inches(18.5, 10.5) 

plt.plot(timestamps, CPUs)
plt.xlabel('Date')
plt.ylabel('CPU')
plt.title('CPUs distribution')
plt.show()

fig = plt.figure()
fig.set_size_inches(18.5, 10.5) 

plt.plot(timestamps, MEMs, color="green")
plt.xlabel('Date')
plt.ylabel('MEM')
plt.title('MEMs distribution')
plt.show()

fig = plt.figure()
fig.set_size_inches(18.5, 10.5) 

plt.plot(timestamps, TEMPs, color="red")
plt.xlabel('Date')
plt.ylabel('TEMPs')
plt.title('TEMPs distribution')
plt.show()